---
import { Icon } from 'astro-icon/components';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->
	<Hero />
	<section class="programmer container blur grid-sm">
		<Icon name="programmer" width="400px" class="programmer-icon" />
	</section>
</Layout>
